{% extends "accounts/base_navbar.html" %}
{% load static %}

{% block title %}صفحه تغییر گذرواژه{% endblock %}

{% block extra_css %}
    <style>body {
        background-image: url({% static  'main_picture/forestbridge.jpg' %})
    }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/login_new-payment_change-pass.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid align-content-center">
        <div class="d-flex justify-content-center h-100">
            <div class="card mt-5" style="width: 500px;height: 400px">
                <div class="card-header">
                    <h2 class="text-right text-white"> ورود</h2>
                </div>
                <div class="card-body" dir="rtl">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="User" name="username">
                        </div>

                        <div class="input-group form-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Pass" name="password">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-light justify-content-center login-btn">
                               تایید
                            </button>
                        </div>
                        {% if error %}
                            <div class="form-group mt-3 text-light text-center">
                                <i class="fas fa-exclamation"></i> {{ error }}
                            </div>
                        {% endif %}
                    </form>
                </div>
                <div class="card-footer ">
                    <p>CinemaTicketOnline(CTO)</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
