{% extends "accounts/base_navbar.html" %}
{% load static %}
{% block title %}صفحه تغییر گذرواژه{% endblock %}
{% block extra_css %}
    <style>body {
        background-image: url({% static  'main_picture/forestbridge.jpg' %})
    }
    label{
        margin-top: 15px;
    }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/login_new-payment_change-pass.css' %}">
{% endblock %}
{% block content %}
    <div class="container-fluid align-content-center text-light">
        <div class="d-flex justify-content-center h-100">
            <div class="card mt-2 mb-2" style="width: 500px">
                <div class="card-header">
                    <h2 class="text-right text-white">تغییر گذرواژه</h2>
                </div>
                <div class="card-body text-right" dir="rtl">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form }}

                            <button type="submit" class="m-3 btn btn-outline-light justify-content-center login-btn">
                                ثبت
                            </button>
                            <ul>
                                <li>گذرواژه شما نمی‌تواند شبیه سایر اطلاعات شخصی شما باشد.</li>
                                <li>رمز عبور شما می‌بایست حداقل از 8 حرف تشکیل شده باشد.</li>
                                <li>گذرواژه شما نمی تواند یک گذرواژه معمول باشد.</li>
                                <li>گذرواژه شما نمی تواند کلا عدد باشد</li>
                            </ul>
                        </div>

                    </form>
                </div>

                <div class="card-footer text-center">
                    <p>CinemaTicketOnline(CTO)</p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}