body {
    font-size: medium;
    font-family: my-Font
}

p {
    font-size: large;
}

.my-hover {
    cursor: pointer;
}

@font-face {
    font-family: 'IranSans';
    src: local('my-font'),
    url('../webfonts/Iranian Sans.ttf') format("truetype");
}