{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    {% block extra_css %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark ml-auto w-100 font-weight-bolder">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" style="font-size: medium">Cinema Ticket Online(CTO)</a>

    <a class="btn btn-outline-light text-center" href="{% url 'accounts:logout' %}">
        <i class="fas fa-sign-out-alt fa-flip-horizontal mr-1"></i>
        خروج

    </a>

    <div style="font-size: medium" class="collapse navbar-collapse" id="navbarTogglerDemo03">

        <div class="btn-group navbar-nav mt-2 mt-lg-0 ml-auto justify-content">

            <a class="btn btn-outline-light" href="{% url "ticketing:showtime_list" %}">
                <i class="fas fa-clock"></i>
                سانـس ها
            </a>

            <a class="btn btn-outline-light" href="{% url "ticketing:cinema_list" %}">
                <i class="fas fa-building"></i>
                سینـماهـا
            </a>
            <a class="btn btn-outline-light" href="{% url "ticketing:movie_list" %}">
                <i class="fas fa-film "></i>
                فیلم ها
            </a>
        </div>
    </div>

</nav>
{% block content %}{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>