{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>فیلم ها</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="{% static "ticketing/css/My-Styles.css" %}">
</head>
<body id="myPage" data-spy="scroll" data-offset="60">
<div style="width: 100%; background-color: #dae0e5;font-family: 'Iranian Sans'">

    <nav class="navbar fixed-top navbar-expand-lg bg-dark navbar-dark ml-auto w-100"
         style="font-family: 'Iranian Sans';">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Cinema Ticket Online(CTO)</a>

        <div style="font-size: medium" class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <form class="form-inline my-2 my-lg-0 text-right ml-auto" style="margin-right: 35%">

                    <button class="btn btn-outline-dark my-2 my-sm-0 bg-light" type="submit"><i
                            class="fas fa-search fa-flip-horizontal"></i></button>
                    <input class="form-control " dir="rtl" type="search" placeholder="جستجو.." aria-label="Search">

            </form>
            <ul class="navbar-nav mt-2 mt-lg-0 mr-2 justify-content">

                {% block buttons %}{% endblock %}

            </ul>

        </div>

    </nav>


    <!-- Sidebar -->
    <div class="w3-sidebar w3-bar-block w3-card text-light"
         style="text-align: right; width:24.7%;right:0;background-color: #203647">
        <h3 class="w3-bar-item" style="text-align: right">منو</h3>

        <a href="{% url "ticketing:cin" %}" class="w3-bar-item w3-button" style="text-align: right;">نظرات</a>
        <a href="{% url "ticketing:login" %}" class="w3-bar-item w3-button" style="text-align: right;">صفحه اصلی</a>
        <a href="#" class="w3-bar-item w3-button" style="text-align: right;">About</a>

    </div>
    <div style="margin:5% 24.8% 1px 1px">

        <div class="card mb-1 bg-dark text-white">
            <img class="card-img" style="height: 250px" src="{% static 'main_picture/main.png' %}" alt="Card image">
            <div class="card-img-overlay text-right">
                <h3 class="card-title">سیستم فروش بلیط سینما</h3>
                <br>
                <h5 class="card-text" dir="rtl"> خرید آسان بلیت سینما با
                    <i><b>CTO</b></i>
                </h5>

            </div>
        </div>


        <div class="mt-1" dir="rtl" style="background-color: #062c33;opacity: 90%">
            {% block content %}
            {% endblock %}
        </div>

        <footer class="modal-footer text-center bg-light text-dark">
            <p></p> <b> نام و نام خانوادگی : رضا فرجی</b></p>
            <p></p> <b>استاد راهنما : آقای مهندس نوید حاتمی</b></p>
            <p></p><b>پروژه پایانی کارشناسی</b></p>
            <p></p><b>پاییز و زمستان 1399</b></p>
        </footer>
    </div>
</div>

<script src="{% static "ticketing/js/My-js.js" %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>

</html>
