{#base page for home & cinema_list & movie_list & showtime_list pages #}

{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>

    <title>{% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {#links#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "ticketing/css/my-font.css" %}">
    {% block extera_css %}
    {% endblock %}
</head>
<body data-spy="scroll" data-offset="60">


<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark ml-auto w-100 font-weight-bolder mb-1">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo03"
                    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" style="font-size: medium">Cinema Ticket Online(CTO)</a>

            {% if  user.is_authenticated %}
                <div class="dropdown">

                    {% if user.profile.avatar %}
                        <a class="dropdown-toggle text-light" type="button" id="dropdownMenuButton"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{ user.profile.avatar.url }}"
                                 class="rounded-circle"
                                 alt="avatar" style="height: 50px;width: 50px">
                            <i>{{ user.username }}</i>
                        </a>
                    {% else %}
                        <button class="btn btn-secondary dropdown-toggle ml-auto" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </button>
                    {% endif %}
                    <div class="dropdown-menu dropdown-menu-md-right text-right" aria-labelledby="dropdownMenuButton">
                        <label class="dropdown-item disabled">
                            اعتبار :
                            {{ user.profile.credit_money }}
                            تومان
                            <i class="fas fa-coins"></i>
                        </label>

                        <a class="dropdown-item" href="{% url 'accounts:new_payment' %}">
                            افزایش اعتبار
                            <i class="fas fa-plus fa-flip-horizontal mr-1"></i>
                        </a>
                        <a class="dropdown-item" href="{% url 'ticketing:ticket_list' %}">
                            بلیت های خریداری شده
                            <i class="fas fa-plus fa-flip-horizontal mr-1"></i>
                        </a>
                        <a class="dropdown-item" href="{% url 'accounts:payment_list' %}">
                            لیست تراکنش ها
                            <i class="fas fa-money-bill fa-flip-horizontal mr-1"></i>
                        </a>
                        <a class="dropdown-item" href="{% url 'accounts:profile' %}">
                            پروفایل
                            <i class="fas fa-user fa-flip-horizontal mr-1"></i>
                        </a>
                        <a class="dropdown-item" href="{% url 'accounts:logout' %}">
                            خروج
                            <i class="fas fa-sign-out-alt fa-flip-horizontal mr-1"></i>
                        </a>
                    </div>
                </div>
            {% else %}
                <a class="btn btn-outline-light" href="{% url 'accounts:login' %}">
                    <i class="fas fa-sign-in-alt fa-flip-horizontal"></i>
                    ورود
                </a>
            {% endif %}

            <div style="font-size: medium" class="collapse navbar-collapse" id="navbarTogglerDemo03">

                <div class="btn-group navbar-nav mt-2 mt-lg-0 ml-auto justify-content">

                    {% block buttons %}

                    {% endblock %}
                    <a class="btn btn-outline-light" href="{% url "ticketing:home" %}">
                        <i class="fas fa-home"></i>
                    </a>
                </div>

            </div>

        </nav>

        <div class="col-9 h-100 pt-0 pr-1 pl-1">
            <div class="card mb-1 bg-dark text-white">
                {% block main_image %}
                {% endblock %}
                <div class="card-img-overlay">
                    <div class="row">

                        <div class="col-6">
                            {% if user.is_authenticated %}

                            {% else %}
                                <p class="text-light text-right float-left mt-1">جهت دسترسی به تمام بخش ها وارد شوید یا
                                    ثبت
                                    نام
                                    کنید</p>
                            {% endif %}
                        </div>
                        <div class="col-6">
                            {% block header %}
                                <h2 class="text-light text-right mr-3">سیستم فروش بلیت سینما
                                </h2>
                            {% endblock %}

                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-1" style="background-color: #062c33;opacity: 90%">
                <div class="row border-bottom p-2" style="opacity: 80%">
                    <div class="col-6">
                        <h5 class="card-text text-left text-light" dir="rtl"> خرید آسان بلیت سینما با
                            <i><b>CTO</b></i>
                        </h5>
                    </div>
                    <div class="col-6">
                        <h5 class="card-text text-right text-light" dir="rtl">
                            {% block content_title %}
                            {% endblock %}
                        </h5>
                    </div>

                </div>



                {% block content %}

                {% endblock %}
            </div>


            <footer class="mt-1 text-center card-footer p-3">
                {% block extera-footer %}
                {% endblock %}
                <p>راه های ارتباطی</p>
                <p>
                    پیام کوتاه : 09032898874
                    <i class="fas fa-envelope"></i>
                </p>
                <p>
                    شماره تماس : 09032898874
                    <i class="fas fa-phone"></i>
                </p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12299.620897429359!2d45.036072569788004!3d37.50775769592729!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x400551819ef5bb65%3A0xa11f2aa91c126a06!2sUrmia%20Citadium%20Shopping%20Center!5e0!3m2!1sen!2s!4v1617287269345!5m2!1sen!2s"
                        width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <div class="border-top p-2">
                    <p class="">نام و نام خانوادگی : رضا فرجی</p>
                    <p class="">استاد راهنما : آقای مهندس نوید حاتمی</p>
                    <p class="">پروژه پایانی کارشناسی</p>
                </div>
            </footer>


        </div>

        <div class="col-3 text-light" style="background-color: #203647">
            <h3 class="nav-item p-2 pr-3 pb-4 border-bottom" style="text-align: right">منو</h3>
            {% if  user.is_authenticated %}
                <a href="{% url 'accounts:edit_profile' %}" class="nav-item btn-block btn-outline-light p-2 pr-3"
                   style="text-align: right;">ویرایش پروفایل</a>
            {% else %}
                <a href="{% url 'accounts:make_user' %}" class="nav-item btn-block btn-outline-light p-2 pr-3"
                   style="text-align: right;">ساخت حساب کاربری</a>
            {% endif %}
            <a href="{% url 'ticketing:home' %}" class="nav-item btn-block btn-outline-light p-2 pr-3"
               style="text-align: right;">صفحه اصلی</a>
            <a href="#" class="nav-item btn-block btn-outline-light p-2 pr-3"
               style="text-align: right;">
                لینک تبلیغاتی
            </a>
            <a href="{% url 'ticketing:about' %}" class="nav-item btn-block btn-outline-light p-2 pr-3"
               style="text-align: right;">About project</a>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>

</html>
