{% extends "ticketing/base_page.html" %}

{% block title %}
    سینماها
{% endblock %}



{% block content_title %}
    صفحه سینماها
{% endblock %}

{% block buttons %}
    <li class="nav-item"><a class="nav-link" href="{% url "ticketing:movie_list" %}">فیلمها</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url "ticketing:showtime_list" %}">سانس ها</a></li>
{% endblock %}



{{ c.city }}

{{ c.capacity }}


{% block content %}
    <div class="row p-2">
        <div class="col">
            {% if cinema %}
                <div class="row">
                    {% for c in cinema %}
                        <div class="col-md-6">
                            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                                <div class="card-body d-flex flex-column align-items-start">
                                    <strong class="d-inline-block mb-2 text-primary">{{ c.name }}</strong>

                                    <p class="card-text mb-auto">
                                        شهر :
                                        {{ c.city }}
                                    </p>
                                    <p class="card-text mb-auto">
                                        ظرفیت :
                                        {{ c.capacity }}
                                    </p>
                                    <p class="card-text mb-auto">
                                        شماره تلفن :
                                        {{ c.phone }}
                                    </p>

                                    <a class="btn btn-outline-primary btn-sm" role="button"
                                       href="{% url "ticketing:cinema_details" cinema_id=c.pk %}">مشخصات
                                        بیشتر</a>
                                </div>
                                <img class="card-img-right flex-auto d-none d-lg-block"
                                     alt="Thumbnail [200x250]"
                                     src="{{ c.image.url }}" style="width: 200px; height: 250px;">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p style="color: #ff0000">متاسفانه سینمایی یافت نشد</p>

            {% endif %}
        </div>
    </div>
{% endblock %}

