{% extends "ticketing/lists_base_page.html" %}

{% block title %}
    سینماها
{% endblock %}



{% block content_title %}
    صفحه سینماها
{% endblock %}

{% block buttons %}
    <li class="nav-item"><a class="nav-link" href="{% url "ticketing:movie_list" %}">فیلمها</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url "ticketing:showtime_list" %}">سانس ها</a></li>
{% endblock %}

{% block content %}
    {% if cinema %}
        <ul>
            <li class="list-group-item text-center">
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <b>
                            نام سینما
                        </b>
                    </div>
                    <div class="col-sm-4 text-center">
                        <b>
                            شهر
                        </b>
                    </div>
                    <div class="col-sm-4 text-center">
                        <b>
                            ظرفیت
                        </b>
                    </div>
                </div>
            </li>
            {% for c in cinema %}
                <a class="list-group-item text-info"
                   href="{% url "ticketing:cinema_details" cinema_id=c.pk %}">
                    <li class="list-group-item">

                        <div class="row">
                            <div class="col-sm-4 text-center">
                                {{ c.name }}
                            </div>
                            <div class="col-sm-4 text-center">
                                {{ c.city }}
                            </div>
                            <div class="col-sm-4 text-center">
                                {{ c.capacity }}
                            </div>
                        </div>
                    </li>
                </a>

            {% endfor %}
        </ul>
    {% else %}
        <p style="color: #ff0000">متاسفانه سینمایی یافت نشد</p>
    {% endif %}

{% endblock %}

{% block side_bar %}
    <a class="nav-item" href="#">
        درباره پروژه
    </a>
{% endblock %}
