{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <title>مشخصات سینما</title>
    <link rel="stylesheet" type="text/css" href="{% static "ticketing/css/bootstrap.css" %}">
</head>
<body lang="fa" dir="rtl">
<div class="jumbotron" style="margin-top:30px">
    <div class="text-dark" style="height: 60px">
        <h1 class="h1 text-center">سیستم فروش بلیت سینما</h1>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>


    <a href="{% url "ticketing:cinema_list" %}" class="btn btn-info" role="button">
        برگشت به صفحه سینما ها
    </a>

    <br>
    <br>
    <div class="row text-dark">
        <div class="col-sm-8">
            <h3>
                {{ cinema.name }}
            </h3>
            <br>

            <div class="form-group">

                <label for="director">
                    <b>
                        شهر :
                    </b>
                </label>
                <output type="text">{{ cinema.city }}</output>
                <br>
                <label for="year">
                    <b>
                        ظرفیت :
                    </b>
                </label>
                <output type="text">{{ cinema.capacity }}</output>
                <br>
                <label for="time">
                    <b>
                        شماره تلفن :
                    </b>
                </label>
                <output type="text">
                    {{ cinema.phone }}
                </output>
                <br>
                <label for="address">
                    <b>
                        آدرس :
                    </b>
                </label>
                <textarea class="form-control font-weight-bold" rows="5" style="width: 70%; resize: none"
                          disabled>{{ cinema.address }}</textarea>
            </div>
        </div>
        <div class="col-sm-4">
            <img src="{{ cinema.image.url }}" alt="عکس سینما" class="img-thumbnail"
                 style="box-sizing: border-box;width: 250px;height: 350px">
        </div>
    </div>

    <br>
    <br>
    <div class="row align-content-center">
        <div class="col text-white text-center" style="background-color: #491217">

            <p class="text-white">محل قرار دادن تبلیغات</p>

        </div>
    </div>
</div>


<script src="{% static "ticketing/js/jquery-3.5.1.min.js" %}"></script>
<script src="{% static "ticketing/js/bootstrap.js" %}"></script>

</body>
</html>
