{% extends "accounts/base_navbar.html" %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>نظرات</title>
   <link rel="stylesheet" type="text/css" href="{% static "main_picture/forestbridge.jpg" %}">
</head>
<body>

<div class="bgimg">
    <div class="topleft">
        <p>CTO</p>
    </div>
    <div class="middle">
        <h1>COMING SOON</h1>
        <hr>
        <p>35 days left</p>
    </div>
    <div class="bottomleft">
        <p>سیستم فروش بلیت سینما(CTO)</p>
    </div>
</div>


</body>
</html>