{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>

    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="{% static "ticketing/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "ticketing/css/fontawesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "ticketing/css/My-Styles.css" %}">


</head>
<body dir="rtl">

<div class="container-fluid" style="background-color: #dae0e5">

    <div class="justify-content jumbotron text-center" style="background-color:#062c33 ; color: white">
        <h1>سیستم فروش بلیط سینما</h1>
    </div>
    <div class="btn-toolbar" style="background-color: #0c5460">
        <a href="{% url "ticketing:cinema_list" %}" class="btn btn-dark text-white" role="button">
            صفحه سینماها
        </a>
        &nbsp;
        <a href="{% url "ticketing:cinema_list" %}" class="btn btn-dark text-white" role="button">
            سانس ها
        </a>
    </div>
    <nav class="justify-content fixed-top navbar navbar-expand-md navbar-dark" style="background-color: #164A41">
        <a class="navbar-brand" href="#">{% block content_title %}{% endblock %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                {% block buttons %}{% endblock %}
            </ul>
        </div>
    </nav>

    <div class="jumbotron" style="background-color: darkslategrey" dir="rtl">
        {% block content %}
        {% endblock %}
    </div>

    <footer id="footer" class="container-fluid text-center text-white" style="background-color: #203647; color: black">
        <p></p> <b> نام و نام خانوادگی : رضا فرجی</b></p>
        <p></p> <b>استاد راهنما : آقای مهندس نوید حاتمی</b></p>
        <p></p><b>پروژه پایانی کارشناسی</b></p>
        <p></p><b>پاییز و زمستان 1399</b></p>
    </footer>
</div>
<script src="{% static "ticketing/js/jquery-3.5.1.min.js" %}"></script>
<script src="{% static "ticketing/js/fontawesome.min.js" %}"></script>
<script src="{% static "ticketing/js/bootstrap.min.js" %}"></script>

</body>
</html>
