<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>مشخصات فیلم</title>
    <link rel="stylesheet" type="text/css" href="{% static "ticketing/css/bootstrap.rtl.css" %}">
</head>
<body>
<div class="container" style="background-color: #0c5460">

{#header#}
    <div class="row align-content-center">
        <div class="col bg-dark text-white text-center">
            <h1 class="h1 text-center text-white">سیستم فروش بلیت سینما</h1>
            <h2 class="h2 text-left text-warning">مشخصات فیلم</h2>
        </div>
    </div>




</div>
</body>
</html>
