{% extends "accounts/base_navbar.html" %}
{% load static %}
{% block title %}
    مشخصات فیلم ها
{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}
    <div class="jumbotron" style="margin-top:30px">
        <div class="text-dark" style="height: 60px">
            <h1 class="h1 text-center">سیستم فروش بلیت سینما</h1>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>


        <br>
        <br>
        <div class="row text-dark" style="direction: rtl">
            <div class="col-sm-8">
                <h3>
                    {{ movie.name }}
                </h3>
                <br>

                <div class="form-group">

                    <label for="director">
                        <b>
                            کارگردان :
                        </b>
                    </label>
                    <output type="text">{{ movie.director }}</output>
                    <br>
                    <label for="year">
                        <b>
                            سال ساخت :
                        </b>
                    </label>
                    <output type="text">{{ movie.year }}</output>
                    <br>
                    <label for="time">
                        <b>
                            مدت زمان فیلم :
                        </b>
                    </label>
                    <output type="text">
                        {{ movie.length }}
                        دقیقه
                    </output>
                    <br>
                    <label for="description">
                        <b>
                            توضیحات فیلم:
                        </b>
                    </label>
                    <textarea class="form-control font-weight-bold" rows="5" style="width: 70%; resize: none"
                              disabled>{{ movie.description }}</textarea>
                </div>
            </div>
            <div class="col-sm-4">
                <img src="{{ movie.cover.url }}" alt="کاور فیلم" class="img-thumbnail"
                     style="box-sizing: border-box;width: 300px;height: 400px">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row align-content-center">
            <div class="col text-white text-center" style="background-color: #491217">

                <p class="text-white">محل قرار دادن تبلیغات</p>

            </div>
        </div>
    </div>

{% endblock %}