{% extends "accounts/base_navbar.html" %}
{% load static %}
{% block title %}
    مشخصات فیلم ها
{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="card mb-2">

            <div class="card-header text-light" style="background-color:#607d8b">
                <h2 class="h1 text-center">سیستم فروش بلیت سینما</h2>
            </div>

            <div class="card-body bg-dark text-light">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{{ movie.cover.url }}" alt="کاور فیلم" class="img-thumbnail"
                             style="box-sizing: border-box;width: 300px;height: 400px">
                    </div>


                    <div class="col-sm-8 text-right" dir="rtl">

                        <div class="row border-bottom mb-3">
                            <div class="col-md-2 ">
                                <i class="fas fa-film"></i>
                                <label>فیلم :</label>
                            </div>
                            <div class="col-md-10">
                                <p>{{ movie.name }}</p>
                            </div>
                        </div>
                        <div class="row border-bottom mb-3">
                            <div class="col-md-2 ">
                                <i class="fas fa-user-circle"></i>
                                <label>کارگردان :</label>
                            </div>
                            <div class="col-md-10">
                                <p>{{ movie.director }}</p>
                            </div>
                        </div>
                        <div class="row border-bottom mb-3">
                            <div class="col-md-2 ">
                                <i class="fas fa-clock"></i>
                                <label>مدت فیلم :</label>
                            </div>
                            <div class="col-md-10">
                                <p>{{ movie.length }}
                                    دقیقه
                                </p>
                            </div>
                        </div>
                        <div class="row border-bottom mb-3">
                            <div class="col-md-2 ">
                                <i class="fas fa-calendar"></i>
                                <label>سال ساخت :</label>
                            </div>
                            <div class="col-md-10">
                                <p>{{ movie.year }}</p>
                            </div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col-md-2 ">
                                <i class="fas fa-book"></i>
                                <label>خلاصه فیلم :</label>
                            </div>
                            <div class="col-md-10">
                                <p>{{ movie.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center bg-secondary text-white">
                <p>CinemaTicketOnline(CTO)</p>

            </div>
        </div>
    </div>
{% endblock %}
