{% extends "ticketing/base_page.html" %}
{% load static %}
{% block title %}
    سانس ها
{% endblock %}

{% block  main_image %}
    <img class="card-img" style="height: 220px" src="{% static 'main_picture/showtime.jpg' %}"
         alt="CINEMA TICKET ONLINE (CTO)">
{% endblock %}

{% block content_title %}
    فهرست سانس ها
{% endblock %}

{% block buttons %}

    <a class="btn btn-outline-light" href="{% url "ticketing:movie_list" %}">
        <i class="fas fa-film "></i>
        فیلم ها
    </a>

    <a class="btn btn-outline-light" href="{% url "ticketing:cinema_list" %}">
        <i class="fas fa-building"></i>
        سینماها
    </a>
{% endblock %}



{% block content %}
    <div class="row p-2 text-dark"dir="rtl">
        <div class="col">
            {% if showtime %}
                <div class="row">
                    {% for s in showtime %}
                        <div class="col-md-4 mb-2" dir="rtl">
                            <div class="card bg-light" style="text-align: right">
                                <div class="card-body">
                                <h6> تاریخ :{{ s.start_time|date:"SHORT_DATE_FORMAT" }}</h6>
                                <br>
                                    <h5 class="card-title border-bottom pb-3">{{ s.start_time|date:"l  ساعت H:i" }}</h5>
                                    <p class="card-text">
                                        فیلم :
                                        {{ s.movie }}
                                    </p>
                                    <p class="card-text">
                                        قیمت :
                                        {{ s.price }}
                                        ریال
                                    </p>
                                    <p class="card-text">
                                        وضیعت :
                                        {{ s.get_status_display }}
                                    </p>
                                    <p class="card-text">
                                        ظرفیت باقیمانده :
                                        {{ s.salable_seats }}
                                    </p>
                                    {#                                    <a href="{% url "ticketing:movie_details" movie_id=m.pk %}"#}
                                    {#                                       class="btn btn-dark btn-sm">#}
                                    {#                                        بیشتر...</a>#}
                                    <a href="#" class="btn btn-sm  float-left btn
                                    {% if s.status == s.sale_start %}
                                    btn-info
                                    {% else %}
                                    btn-secondary disabled
                                    {% endif %}
                                    ">خرید بلیت<i class=" fas fa-angle-double-left"></i></a>

                                </div>
                            </div>

                        </div>

                    {% endfor %}
                </div>
            {% else %}
                <p class="text-light">سانسی موجود نیست</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
