{% extends "ticketing/base_ticketing.html" %}
{% load static %}

{# title #}
{% block title %}
    سانس ها
{% endblock %}


{# main image #}
{% block  main_image %}
    <img class="card-img" style="height: 220px" src="{% static 'main_picture/showtime.jpg' %}"
         alt="CINEMA TICKET ONLINE (CTO)">
{% endblock %}


{#cintent-title#}
{% block content_title %}
    فهرست سانس ها
{% endblock %}

{# navbar-buttons #}
{% block buttons %}
    <a class="btn btn-outline-light" href="{% url "ticketing:movie_list" %}">
        <i class="fas fa-film "></i>
        فیلم ها
    </a>

    <a class="btn btn-outline-light" href="{% url "ticketing:cinema_list" %}">
        <i class="fas fa-building"></i>
        سینماها
    </a>
{% endblock %}

{# main content #}
{% block content %}
    <div class="row p-2 text-dark" dir="rtl">
        <div class="col">
            {% if showtime %}

                {#filters_form#}
                <div>
                    <form method="get" action="">
                        <div class="border mb-2 p-2 text-center">
                            <div class="form-row text-light text-center mb-2">

                                <div class="col-3">
                                    جستجو بر اساس فیلم
                                    {{ form.movie_name }}</div>
                                <div class="col-3">
                                    جستجو برا اساس سینما
                                    {{ form.cinema_name }}
                                </div>
                                <div class="col-2 mt-4">
                                    فقط بلیت های فعال
                                    {{ form.sale_open }}
                                </div>

                                <button type="submit" class="mt-4 btn btn-outline-light"><i
                                        class="fas fa-search fa-flip-horizontal"></i></button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row">
                    {% for s in showtime %}
                        <div class="col-md-4 mb-2" dir="rtl">
                            <div class="card bg-light" style="text-align: right">
                                <div class="card-body">
                                    <h6> تاریخ :{{ s.start_time|date:"SHORT_DATE_FORMAT" }}</h6>
                                    <br>
                                    <h5 class="card-title border-bottom pb-3">{{ s.start_time|date:"l  ساعت H:i" }}</h5>
                                    <p class="card-text">
                                        فیلم :
                                        {{ s.movie }}
                                    </p>
                                    <p class="card-text">
                                        سینما :
                                        {{ s.cinema }}
                                    </p>
                                    <p class="card-text">
                                        قیمت :
                                        {{ s.price }}
                                        تومان
                                    </p>
                                    <p class="card-text">
                                        وضیعت :
                                        {{ s.get_status_display }}
                                    </p>
                                    <p class="card-text">
                                        ظرفیت باقیمانده :
                                        {{ s.free_seats }}
                                    </p>
                                    {% if s.status == s.sale_start %}

                                        <a href="{% url 'ticketing:buy_ticket' showtime_id=s.id %}" class="btn btn-sm  float-left btn
                                    btn-info ">خرید بلیت<i class=" fas fa-angle-double-left"></i></a>
                                    {% else %}
                                        <a href="#" class="btn btn-sm  float-left btn
                                        btn-secondary disabled "> مجاز نیست <i class="fas fa-exclamation"></i></a>
                                    {% endif %}


                                </div>
                            </div>

                        </div>

                    {% endfor %}
                </div>
            {% else %}
                <p class="text-light">سانسی موجود نیست</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
