body {
    font-family: my-Font;
    font-size: medium;
}

.container-fluid {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.card {
    background-color: rgba(105, 105, 105, 0.5);
    margin-bottom: 10px;
}

.card-header, .card-footer {
    opacity: 1;
    border-color: white;
}


.remember input {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 15px;
}

.login-btn {

    width: 100px;

}


label{

    color: whitesmoke;
    font-size: medium;
}
@font-face {
    font-family: 'IranSans';
    src: local('my-font'),
    url('../webfonts/Iranian Sans.ttf') format("truetype");
}
